doctype html
html
  head
    title Search Results: Gadgets
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    script.
      function buy(index) {
        alert(`You purchased item ${index}`);
      }

  body
    h1 Search Results: Gadgets

    .container-fluid
      .row
        each gadget in results
          .col-sm-2
            h3 #{gadget.gadget_name}
            p Price: $#{gadget.price}
            p Functionality: #{gadget.functionality}
            button.btn.btn-success(onclick=`buy('${gadget.gadget_name}')`) Buy
